Repository malcolmhire/eslint-config-mocha: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run compliance:eslint, npm run security:outdated, npm run security:nsp

feat(gitlab-ci): remove sonar scanner stage
  .gitlab-ci.yml
Due: none

feat(eslint): make identical titles throw error
  tests/.eslintrc.json
Due: none

chore: amend author
  package.json
Due: npm run security:outdated, npm run security:nsp

chore(node): update to 9.9.0
  .nvmrc
Due: none

chore: update npm dependencies
  package-lock.json
  package.json
Due: npm run security:outdated, npm run security:nsp

fix: update code to match new eslint ruleset
  tests/unit/index.spec.js
Due: npm run compliance:eslint

feat: set explicit versions for dependencies
  package-lock.json
  package.json
Due: npm run security:outdated, npm run security:nsp

feat: update gitlab ci configuration
  .gitlab-ci.yml
Due: none

feat: move husky config to separate file
  .editorconfig
  .huskyrc.js
  package.json
Due: npm run compliance:eslint, npm run security:outdated, npm run security:nsp

feat: amend eslint config filename
  .eslintrc.js
  .huskyrc.js
  src/index.js
  tests/.eslintrc.js
  tests/.eslintrc.json
Due: npm run compliance:eslint

docs: minor README amends
  README.md
Due: none

feat: move lint staged config to new file
  .lintstagedrc
  lint-staged.config.js
Due: npm run compliance:eslint

chore: update node version in .nvmrc
  .nvmrc
Due: none

feat: update nyc config
  .nycrc
Due: none

feat: add sonar config file
  sonar-project.properties
Due: none

docs: update README
  README.md
Due: none

fix: amend format in npmrc file
  .npmrc
Due: none

feat: remove sonar scanner integration
  package-lock.json
  package.json
Due: npm run security:outdated, npm run security:nsp

feat(npm): update script names and references
  lint-staged.config.js
  package-lock.json
  package.json
Due: npm run compliance:eslint, npm run security:outdated, npm run security:nsp

feat: amend sonar image url
  .gitlab-ci.yml
Due: none

feat: remove blackduck from pipeline
  .gitlab-ci.yml
Due: none

feat: amend checkmarx image url
  .gitlab-ci.yml
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: npm run security:outdated, npm run security:nsp

chore: update nyc exclusions
  .nycrc
Due: none

feat: increase artifact expiry time
  .gitlab-ci.yml
Due: none

chore: rename node audit stage name
  .gitlab-ci.yml
Due: none

chore: remove references to `develop` branch
  .gitlab-ci.yml
  CONTRIBUTING.md
  package.json
Due: npm run security:outdated, npm run security:nsp

chore: upgrade packages
  package-lock.json
  package.json
Due: npm run security:outdated, npm run security:nsp

chore: downgraded package
  package.json
Due: npm run security:outdated, npm run security:nsp

Path conditions:
  npm run compliance:eslint: any of: *.js
  npm run security:outdated: any of: package.json
  npm run security:nsp: any of: package.json
